# Build output
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
[Pp]ublish/
**/[Pp]ublish/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VS Code optional

.idea/
.vscode/
#Logs/
*.log

#NUGet
packages/
*.nupkg
/ExpenseTrackingSystem/SpendwiseSystem.API.csproj


